.promotion_Page{
    width: 1280px;
    height: 100%;
    margin: 0px auto;
}

.element_Promotion{
    position: relative;
    margin: 30px 0px;
    width: 100%;
    height: auto;
}

.element_Promotion img{
    width: 100%;
    height: 100%;
}

.button_Promotion{
    position: absolute;
    left: 10%;
    bottom: 10%;
    border-radius: 50px;
    border: none;
    width: 150px;
    height: 45px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.button_Promotion:hover{
    background-color: white;
    color: red;
}