

/* TOP MENU */

/* CONTENT */

.accessories_content {
    width: 1280px;
    height: auto;
    margin: 0px auto;
}

.top-image{
    background-color: black;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    position: relative;
}

.top-image img{
    width: 900px;
    height: 150px;
}
.slide-container{
    width: 100%;
    height: 150px;
    margin-left: 130px;
    overflow: hidden;

}
.slides{
    display: flex;
    transition: transform 0.5s; 
}      
.filter{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.search{
position: relative;
}
#icon-search{
position:absolute;
left: 10px;
top: 12px;
}
.search input::-webkit-input-placeholder { /* đưa placeholder về giữa*/
    text-align: center;
}
.search input{
    width: 40px;
    border-radius: 10px;
    width: 240px;
    height: 35px;
}
#arrow{
    position: absolute;
    right: 10px;
    top: 11px;
}

#btn-clear{
    font-size: 10px;
    height:40px;
    border-color: red;
    width: 40px;
    border-radius: 50px;
}
.item-filter{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid black;
    width: 120px;
    text-indent: 5px; /* dịch text sang bên phải*/
    line-height: 35px;
    height: 35px;
    border-radius: 10px;
    padding: 2px;
}


accessories_section{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.products{
    position: relative;
    color: black;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 16%;
    height: 260px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 15px;
}
.products .name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
.products .discrible{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
}
.products img{
height: 100px;
margin-bottom: 10px;
margin-left: 30px;
position: absolute;
top: 100px;
}
.products .color{
border: 1px solid black;
height: 20px;
width: 20px;
border-radius: 50%;
opacity: 0.4;
position: relative;
overflow: hidden;
}
.top-color{
position: absolute;
height: 20px;
width: 20px;
clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%); /* Cắt nửa phía trên của hình tròn */
}
.bot-color{
position:absolute;
height: 20px;
width: 20px;
clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%); /* Cắt nửa phía dưới của hình tròn */
}
.products .price{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    font-size: 25px;
}


.change_slide_content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1.2;
}
.change_slide_content span{
font-weight: bold;
}
.pre_btn {
    margin-top: 15px;
    width: 30px; 
    height: 30px; 
    border-radius: 100px 0 0 100px; 
    overflow: hidden;
    position: relative;
    padding: 4px;
  }

  .pre_btn::before {
    width: 200px; 
    height: 200px; 
    transform: translateX(-100%);
    position: absolute;
    top: 0; 
    right: 0; 
  }

  .slide {
    width: 30px; 
    height: 30px; 
    border: 2px solid black;
    margin-left: -7px;
    padding: 4px;
  }

  .next_btn {
    margin-left: -7px;
    width: 34px; 
    padding: 4px;
    height: 30px; 
    border-radius: 0 100px 100px 0; /* Làm tròn góc phải */
    position: relative; 
  }

  .next_btn::before {
    content: '';
    width: 30px; 
    height: 30px; 
    position: absolute; /* Cần để hiển thị phần mờ */
  }

  .footer_content{
    margin-top: 20px;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
  }


.legal-details{
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;

}
/* CONTENT */

/* scroll button
.scroll_down_btn{
    width: 70px;
    height: 70px;
    background-color: white;
    top: 100px;
    left: -100px;
    transition: left 0.3s ease;
    position: fixed;
    border: 1px solid black;
    cursor: pointer;
}
.scroll_down_btn:hover{
    background-color: black;
}
.scroll_up_btn{
    width: 70px;
    height: 70px;
    background-color: white;
    bottom: 100px;
    right: -100px;
    transition: right 0.3s ease; 
    position: fixed;
    border: 1px solid black;
    cursor: pointer;
}
.scroll_up_btn:hover{
    background-color: black;
    transition: background-color 0.3s ease;
} */
/* scroll button */ 

