.ShoppingCart_Page{
    margin: 0px auto;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    width: 1280px;
}
.left{
    float: left;
    width: 70%;
}
.CartItem{
    width: auto;
    height: 180px;
    margin: 12px 15px 0;
    border-bottom: 1px solid #eee;
}
.product_image{
    float: left;
    width: auto;
    margin: 12px 24px 0 0;

}
.product_image img{
    width: 100px;
    height: auto;

}
.product_detail{
    width: 80%;
    height: auto;
    float: left;
    margin-top: 12px;
}
.Ten_sp{
    font-weight: 600;
    margin: 12px 0;
    font-size: 14px;
}
.thongtinsp{
    width: 100%;
    display: inline-flex;
    align-items: center;
}
.thea{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.soluong{
    display: flex;
    float: left;
    width: 25%;
    align-items: center;
}
.soluong input{
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    background: white;
}
.soluong button{
    width: 25px;
    height: 25px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    background-color: #333;
    line-height: 20px;
    text-align: center;
}
.kiemtra{
    width: 100%;
    text-align: center;
    display: inline-flex;
}
.kiemtra img{
    margin: 0px auto ;
    width: 18px;
    height: 18px;
}
.kiemtra div{
    font-size: 14px;
    
}
.btnXoa{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
}
.diachi{

}
.open_close{
    font-weight: bold;
    color: #348800;
    width: 100%;
    display: inline-flex;
}
.right{

    width: 29%;
    float: right;
}
.btn_DatHang{
    font-size: 18px;
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 40px;
    color: white;
    background: red;
    margin: 15px;
    float: left;
}

.input-quantity {
    width: 40px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    text-align: center !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 8px !important;
}

/* thong bao */
.ask {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.ask-container {
    background-color: white;
    width: auto;
    padding: 16px;
    height: auto;
    margin: auto auto auto auto;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);
}

.ask-content {
    font-size: 2rem;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.save,
.no,
.yes {
    border: 0;
    font-size: 1.6rem;
    padding: 12px;
    border-radius: 10px;
    background-color: #1ac7b6;
    color: #fff;
    cursor: pointer;
}

.save:active,
.no:active,
.yes:active {
    transform: scale(0.95);
}

.save,
.yes {
    background-color: #f33a58;
}

.ask--active {
    display: flex;
}