
/*form_CHTN_admin*/
#form_CHTN_admin{
    display: flex;
    height: 100%;
}
#table_CHTN{
    width: 70%;
    border: 1px solid black;
    height: 93%;
}

#chucnang_CHTN{
    width: 30%;
}
#form_CHTN_admin table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#form_CHTN_admin table tr td{
    border: 1px solid black;
}
#form_CHTN_admin table .thaotac {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#form_CHTN_admin table .thaotac:hover{
    background-color: #746d6d11;
}

.change_page_CHTN{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.change_page_CHTN #btn2{
    background-color: black;
    color: white;
    width: 140px; 
    border-bottom: none;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
}
.change_page_CHTN #btn5{
    width: 140px;
    border-bottom: none;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
.change_page_CHTN #btn4{
    width: 140px;
    border-bottom: none;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
.change_page_CHTN #btn1{
    width: 140px;
    border-bottom: none;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
.change_page_CHTN #btn3{
    width: 140px;
    border-bottom: none;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
/*form_CHTN_admin*/


