
/*form_HD_admin*/
#form_HD_admin{
    display: flex;
    height: 100%;
}
#table_HD{
    width: 70%;
    border: 1px solid black;
    height: 90%;
}

#chucnang_HD{
    width: 30%;
}
#form_HD_admin table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#scroll-container{
    border: 1px solid black;
    overflow-y: scroll;
    height: 87%;
    margin-left: 10px;
}
.scroll-container-CTHD{
    height: 70% !important;
}
#form_HD_admin table tr td{
    border: 1px solid black;
}
#form_HD_admin table .thaotac {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#form_HD_admin table .thaotac:hover{
    background-color: #746d6d11;
}

#form_timkiem_HD{
    border: 1px solid black;
    width: 80%;
    margin-left: 50px;
    padding: 10px;
}

#form_timkiem_HD #title{
    text-align: center;
    margin-top: 10px;
}
#form_timkiem_HD #opt_timkiem_HD{
    text-align: center;
    border: none;
    background-color: #21020211;
    border-radius: 50px;
}
#form_timkiem_HD #btn_timkiem_HD{
    width: 30%;
    height: 20px;
    margin-left: 120px;
    margin-top: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

#form_timkiem_HD #btn_timTheoKhoangTG{
    width: 30%;
    height: 20px;
    margin-left: 120px;
    margin-top: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#form_timkiem_HD #btn_timkiem_HD:hover{
    background-color: #746d6d11;
}



.change_page_PN{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.change_page_PN #btn1{
    background-color: black;
    color: white;
    width: 140px; 
    border-bottom: none;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
}
.change_page_PN #btn2{
    width: 140px;
    border-bottom: none;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

#form_sapxep_HD{
    border: 1px solid black;
    width: 82%;
    margin-left: 53px;
    margin-top: 20px;
    padding: 5px;
}

#opt_sapxep_HD{
    text-align: center;
    border: none;
    background-color: #21020211;
    border-radius: 50px;
    width: 100px;
}

.btn_sortAZ, .btn_sortZA{
    width: 30%;
    margin-left: 10px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
/*form_HD_admin*/




/*form_CTHD_admin*/
#form_CTHD_admin{
    display: flex;
    height: 90%;
}
#table_CTHD{
    width: 70%;
    border: 1px solid black;
}
#chucnang_CTHD{
    width: 30%;
}
#form_CTHD_admin table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#form_CTHD_admin table tr td{
    border: 1px solid black;
}
#form_CTHD_admin table .thaotac {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#form_CTHD_admin table .thaotac:hover{
    background-color: #746d6d11;
}

#form_timkiem_CTHD{
    border: 1px solid black;
    width: 80%;
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
}

#form_timkiem_CTHD #title{
    text-align: center;
    margin-top: 10px;
}
#form_timkiem_CTHD #opt_timkiem_CTHD{
    text-align: center;
    border: none;
    background-color: #21020211;
    border-radius: 50px;
}
#form_timkiem_CTHD #btn_timkiem_CTHD{
    width: 30%;
    height: 20px;
    margin-left: 120px;
    margin-top: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#form_timkiem_CTHD #btn_timkiem_CTHD:hover{
    background-color: #746d6d11;
}
#scroll-container1{
    overflow-y: scroll;
    height: 87%;
    border: solid 1px black;
    margin-left: 10px;
    border-bottom: none;
}
#form_sapxep_CTHD{
    border: 1px solid black;
    width: 82%;
    margin-left: 53px;
    padding: 5px;
}

#opt_sapxep_CTHD{
    text-align: center;
    border: none;
    background-color: #21020211;
    border-radius: 50px;
    width: 100px;
}

.btn_sortAZ, .btn_sortZA{
    width: 30%;
    margin-left: 10px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

.change_page_CTHD{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.change_page_CTHD #btn1{
    width: 140px; 
    border-bottom: none;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
.change_page_CTHD #btn2{
    background-color: black;
    color: white;
    width: 140px;
    border-bottom: none;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
}
/*form_CTHD_admin*/

