/*form_KH_admin*/
#form_KH_admin{
    display: flex;
    height: 100%;
}
#table_KH{
    width: 70%;
    border: 1px solid black;
 
}
#chucnang_KH{
    width: 30%
}
#form_KH_admin table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#form_KH_admin table tr td{
    border: 1px solid black;
}
#scroll-container{
    overflow-y: scroll;
    height: 88%;
    
}
#form_KH_admin table .thaotac {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#form_KH_admin table .thaotac:hover{
    background-color: #746d6d11;
}

#form_timkiem_KH{
    border: 1px solid black;
    width: 80%;
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
}

#form_timkiem_KH #title{
    text-align: center;
    margin-top: 10px;
}
#form_timkiem_KH #opt_timkiem_KH{
    text-align: center;
    border: none;
    background-color: #21020211;
    border-radius: 50px;
}
#form_timkiem_KH #btn_timkiem_KH{
    width: 30%;
    height: 20px;
    margin-left: 120px;
    margin-top: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#form_timkiem_KH #btn_timkiem_KH:hover{
    background-color: #746d6d11;
}
#form_sapxep_KH{
    border: 1px solid black;
    width: 82%;
    margin-left: 53px;
    margin-top: 20px;
    padding: 5px;
}

#opt_sapxep_KH{
    text-align: center;
    border: none;
    background-color: #21020211;
    border-radius: 50px;
    width: 100px;
}

.btn_sortAZ, .btn_sortZA{
    width: 30%;
    margin-left: 10px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}


#container_suaKH {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0%;
    background-color: rgba(240, 204, 204, 0.7);
    display: none;
    
}

#form_sua_KH {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 100px;
    left: 550px;
    width: 400px;
}

#form_sua_KH h2 {
    text-align: center;
    margin-bottom: 20px;
}

#form_sua_KH label {
    display: block;
    margin-bottom: 5px;
}

#form_sua_KH input[type="text"],
#form_sua_KH input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form_sua_KH input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form_sua_KH input[type="submit"]:hover {
    background-color: #45a049;
}

