/*form_NV_admin*/
#form_KM_admin{
    display: flex;
    height: 100%;
}
#table_KM{
    width: 70%;
    border: 1px solid black;
}

#chucnang_KM{
    width: 30%;
}
#form_KM_admin table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#scroll-container{
    overflow-y: scroll;
    height: 88%;
    
    
}
#form_KM_admin table tr td{
    border: 1px solid black;
}
#form_KM_admin table #thaotac_NV, .thaotac {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#form_KM_admin table #thaotac_NV:hover{
    background-color: #746d6d11;
}
#form_KM_admin table .thaotac:hover{
    background-color: #746d6d11;
}

/* ---------------------------------them nv ------------------------------------ */
#form_them_KM{
    border: 1px solid black;
    width: 80%;;
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
}
#form_them_KM #hoten{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#form_them_KM .btn_capTK{
    width: 40%;
    height: 20px;
    margin-left: 90px;
    margin-top: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
#form_them_KM {
    border: 1px solid black;
    width: 75%;
    margin: 30px auto;
    padding: 20px;
    margin-left: 50px;
}

#form_them_KM h2 {
    text-align: center;
    margin-bottom: 20px;
}



#form_them_KM {
    border: 1px solid black;
    width: 75%;
    margin: 30px auto;
    padding: 20px;
    margin-left: 50px;
}

#form_them_KM h2 {
    text-align: center;
    margin-bottom: 20px;
}



#form_them_KM input[type="text"], input[type="number"], input[type="date"]{
    width: calc(100% - 140px); /* Subtracting label width */
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    height: 10px;
    border: 2px solid black ;

}



#form_them_KM .btn_them_KM {
    width: 40%;
    height: 30px;
    margin: 10px auto;
    display: block;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#form_them_KM .btn_them_KM:hover {
    background-color: #45a049;
}

/* ----------------------tim kiem ------------------------------- */

#form_timkiem_KM{
    border: 1px solid black;
    width: 80%;
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
}

#form_timkiem_KM #title{
    text-align: center;
    margin-top: 10px;
}
#form_timkiem_KM #opt_timkiem_KM {
    text-align: center;
    border: none;
    background-color: #21020211;
    border-radius: 50px;
}
#opt_timkiem_date{
    text-align: center;
    border: none;
    background-color: #21020211;
    border-radius: 50px;
}
#form_timkiem_KM #btn_timkiem_KM{
    width: 40%;
    height: 30px;
    margin: 10px auto;
    display: block;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
#form_timkiem_KM #btn_timkiem_KM:hover{
    background-color: #45a049;
}
.KM_sua_btn{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

#container_sua_KM {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0%;
    background-color: rgba(240, 204, 204, 0.7);
    display: none;
    
}
#form_sua_KM {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 100px;
    left: 550px;
    width: 400px;
}

#form_sua_KM h2 {
    text-align: center;
    margin-bottom: 20px;
}

#form_sua_KM label {
    display: block;
    margin-bottom: 5px;
}

#form_sua_KM input[type="text"] {
    width: calc(100% - 30px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form_sua_KM input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form_sua_KM input[type="submit"]:hover {
    background-color: #45a049;
}
